.cheating_blink {
  animation: blinker 1s linear infinite;
  color: red;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}

.customInput {
  border: none;
  background-color: white;
}
